{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %} 

<div class="matchs-info">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="full">
             <div class="matchs-vs">
                <div class="vs-team">
                    <div class="team-btw-match">
                        <ul>
                            <li>
                                <img src="{{evento_principal.home_team.image_98_98.url}}" alt="">
                                <span>{{evento_principal.home_team}}</span>
                            </li>
                            <li class="vs"><span>vs</span></li>
                            <li>
                                <img src="{{evento_principal.visitor_team.image_98_98.url}}" alt="">
                                <span>{{evento_principal.visitor_team}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="full">
                <div class="right-match-time">
                    <h2>{{evento_principal}}</h2>
                    <ul id="countdown-1" class="countdown">
                    
                    <li><span class="seconds">{{evento_principal.date}}</span></li>
                    </ul>
                    <span>{{evento_principal.description}}</span>
                </div>
            </div>
        </div>
    </div>
 </div>
<section id="contant" class="contant">
    <div class="container">
       <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <aside id="sidebar" class="left-bar">
                    <div class="banner-sidebar">
                    <img class="img-responsive" src="{{noticia.image.url}}" alt="#" />
                    <h3>{{noticia.content|truncatechars:100}}</h3>
                    </div>
                </aside>
                {% include "includes/event_list.html" %}
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12">
                {% for post in posts %}
                    <div class="news-post-holder">
                        <div class="news-post-widget">
                            <img class="img-responsive" src="{{post.image.url}}" alt="">
                            <div class="news-post-detail">
                                <span class="date">{{post.created}}</span>
                                <h2><a href="{% url "home_app:article_detail" post.slug %}">{{post.title}}</a></h2>
                                <p>{{post.content|truncatechars:200}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              <!-- Paginación -->
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ posts.number }} de {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Siguiente</a>
            <a href="?page={{ posts.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
            </div>
        </div>
    </div>
 </section>
 <section>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <div class="main-heading sytle-2">
                   <h2>Video de la Semana</h2>
                   <p>{{video.description}}</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="video_section_main theme-padding middle-bg vedio">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <div class="match_vedio">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4Dko5W96WHg?si=4LlCsVc3gxOsAEEF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

{% endblock content %}

