{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Proximos Noticias
{% endblock title %}

{% block content %}

<section id="contant" class="contant main-heading team">
   <div class="row">
      <div class="container">
         <div class="col-md-9">
            {% for noticia in noticia_importante %}
            <div class="feature-post">
               <div class="feature-img">
                  <img src="{{noticia.image.url}}" class="img-responsive" alt="{{noticia.title}}" />
               </div>
               <div class="feature-cont">
                  <div class="post-people">
                     <div class="left-profile">
                        <div class="post-info">
                           <img src="{{noticia.user.avatar.url}}" alt="#" />
                           <span>
                              <h4>Por {{noticia.user.get_full_name}} </h4>
                              <h5>{{noticia.created}}</h5>
                           </span>
                        </div>
                        <span class="share"></span>
                     </div>
                  </div>
                  <div class="post-heading">
                     <h3>{{noticia.title}}</h3>
                     <p>{{noticia.content|truncatechars:120}}
                     </p>
                  <div class="full">
                     <a class="btn" href="{%url 'sports_app:new_detail' noticia.slug%}">Leer Mas</a>
                  </div>
               </div>
            </div>
            {%empty%}
         <div class="feature-cont">
            <h4>No hay resultados</h4>
         </div>
            {% endfor %}
         </div>

         {% for noticia in noticias %}
         <div class="feature-post small-blog">
            <div class="col-md-5">
               <div class="feature-img">
                  <img src="{{noticia.image.url}}" class="img-responsive" alt="#" />
               </div>
            </div>
            <div class="col-md-7">
               <div class="feature-cont">
                  <div class="post-info">
                     <img src="{{noticia.user.avatar.url}}" alt="{{noticia.user.get_full_name}}" />
                     <span>
                        <h4>Por {{noticia.user.get_full_name}}</h4>
                        <h5>{{noticia.created}}</h5>
                     </span>
                  </div>
                  <div class="post-heading">
                     <h3>{{noticia.title}}</h3>
                     <p>{{noticia.content|truncatechars:200}}</p>
                     <div class="full">
                        <a class="btn" href="{% url "sports_app:new_detail" noticia.slug %}">Leer Mas</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {%empty%}
         <div class="feature-cont">
            <h4>No hay resultados</h4>
         </div>
         {% endfor %}
            <!--Navegación de paginación -->
         <div class="pagination">
            <span class="step-links">
               {% if noticias.has_previous %}
                  <a href="?page=1">&laquo; Primera</a>
                  <a href="?page={{ noticias.previous_page_number }}">Anterior</a>
               {% endif %}

               <span class="current">
                  Página {{ noticias.number }} de {{ noticias.paginator.num_pages }}.
               </span>

               {% if noticias.has_next %}
                  <a href="?page={{ noticias.next_page_number }}">Siguiente</a>
                  <a href="?page={{ noticias.paginator.num_pages }}">Última &raquo;</a>
               {% endif %}
            </span>
         </div>
         </div>
         <div class="col-md-3">
            <div class="blog-sidebar">
               <div class="search-bar-blog">
                  <form> {% csrf_token %}
                     <input name="kword" id="kword" type="text" placeholder="Buscar Noticia" />
                     <button><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
               </div>
            </div>
            <div class="blog-sidebar">
               <h4 class="heading">Categorias Deportivas</h4>
               <div class="category-menu">
                  <ul>
                     {% for deporte in deportes %}
                     <li><a href="#">{{deporte}}</a></li>
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% for articulo in articulos_1 %}
            <div class="blog-sidebar">
               <h4 class="heading">Noticia Popular</h4>
               <div class="category-menu">
                  <ul>
                     <li>
                        <span><img src="{{articulo.image.url}}" alt="#"></span>
                        <span>
                           <p>{{articulo.title}}</p>
                           <p class="date">{{articulo.created}}</p>
                        </span>
                     </li>
                  </ul>
               </div>
            </div>
            {% endfor %}
            <aside id="sidebar" class="left-bar">
               <div class="feature-matchs">
                  <div class="team-btw-match">
                     <h4 class="heading">Proximos eventos</h4>
                     {% for evento in eventos %}
                     <h3>{{evento.date}}</h3>   
                        <ul>
                           <li>
                              <img src="{{evento.home_team.image_31_28.url}}" alt="">
                              <span>{{evento.home_team}}</span>
                           </li>
                           <li class="vs"><span>vs</span></li>
                           <li>
                              <img class="mini_event" src="{{evento.visitor_team.image_31_28.url}}" alt="">
                              <span>{{evento.visitor_team}}</span>
                           </li>
                        </ul>
                      {% endfor %}
                  </div>
               </div>
            </aside>
            <aside id="sidebar" class="left-bar">
               <div class="banner-sidebar">
                  <img class="img-responsive" src="{%static 'images/match-banner1.jpg'%}" alt="#">
                  <h3>Argentina vs Chile|Goals of the match | COPA </h3>
               </div>
            </aside>
            <aside id="sidebar" class="left-bar">
               <div class="feature-matchs">
                  <div class="team-btw-match">
                     <h4 class="heading">Resultados</h4>
                     {% for resultado in resultados %}   
                     <h3>{{resultado.date}}</h3>
                        <ul>
                           <li>
                              <img src="{{resultado.home_team.image_31_28.url}}" alt="">
                              <span>{{resultado.home_team}}</span>
                              <div class="post-info">
                                 <span><h4>{{resultado.home_goals}}</h4></span>
                              </div>
                           </li>
                           <li class="vs"><span>vs</span></li>
                           <li>
                              <img src="{{resultado.visitor_team.image_31_28.url}}" alt="">
                              <span>{{resultado.visitor_team}}</span>
                              <div class="post-info">
                                 <span><h4>{{resultado.visitors_goals}}</h4></span>
                              </div>
                           </li>
                        </ul>
                      {% endfor %}
                  </div>
               </div>
            </aside>
         </div>
      </div>
   </div>
</section>
{% endblock content %}