{% extends 'layout.html' %}

{% block title %}

    {{evento.event}}

{% endblock title %}


{% block content %}

<div class="grid-container margin_top">
    <div class="grid-x grid-margin-x shadow">
        <div class="cell">
            <h4 class="cell margin_top home_title black"><strong>{{evento.event}}</strong></h4>
            <div class="grid-x centro">
                <div class="cell large-3">
                    <img class='image' src= "{{evento.home_team.image.url}}" alt="{{evento.home_team}}">
                    <p class="home_content pie_imagen centro black margin_top" >{{evento.home_team}}</p>
                </div>
                <div class="cell large-3">
                    <p class="centro">vs</p> 
                </div>
                <div class="cell large-3">
                    <img class='image' src= "{{evento.visitor_team.image.url}} ">
                    <p class="home_content pie_imagen centro black margin_top" >{{evento.visitor_team}}</p>
                </div>
            </div>

            <div class="grid-x">
                <div class="cell black centro">
                    <p class="home_content" >{{evento.date}}</p>
                </div>
                <div class="cell black centro">
                    <p class="home_content" >{{evento.sport}}</p>
                </div>
                <div class="cell black centro">
                    <p class="home_content" >{{evento.sport_category}}</p>
                </div>
                <div class="cell black centro">
                    <p>{{evento.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}